server:
  port: 8962
  tomcat:
    basedir: ${user.dir}/peashooter/tmp

spring:
  application:
    name: peashooter
  jackson:
    time-zone: GMT+8
  jpa:
    open-in-view: true
    show-sql: false
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:h2:file:${user.dir}/peashooter/db;FILE_LOCK=FS
    username: sa
    password: sa
  cache:
    type: caffeine
    caffeine:
      spec: initialCapacity=50,maximumSize=300,expireAfterWrite=3h,expireAfterAccess=3h
  threads:
    virtual:
      enabled: true

logging:
  file:
    name: ${user.dir}/peashooter/logs/peashooter.log

peashooter:
  username: ${PEASHOOTER_USERNAME:admin}
  password: ${PEASHOOTER_PASSWORD:admin}

jwt:
  period: 1800s
cors:
  allowOrigin: ${ALLOW_ORIGIN:http://localhost:8962}

info:
  app:
    name: @project.artifactId@
    version: @project.version@
